.breadcrumbs
  margin 0
  padding 0
  list-style none
  text-transform uppercase

  &::after
    content ""
    display table
    clear both

  &__home-icon
    font-size 16px

  &__item
    position relative
    float left
    padding 22px 38px 21px 0

    &:not(:last-child)::before
      content ""
      position absolute
      top 0
      bottom 0
      right 16px
      margin auto
      transform translateY(-1px) rotate(-45deg)
      width 8px
      height 8px
      border 1px solid #c1c6ce
      border-top-width 0
      border-left-width 0

    &:last-child::after
      content ""
      position absolute
      top 0
      bottom 0
      left 0
      right 0

  &__link
    display block
    text-decoration none
    color inherit

    &:hover
        color $color-red

    &_home
      font-size 0
      color #c1c6ce

      &:hover
        color $color-text-dark
