.control
  position relative
  display inline-block
  padding-left 35px

  &__input
    position absolute
    z-index 1
    top 0
    left 0
    width 100%
    height 100%
    opacity 0
    cursor pointer

  &__icon
    position absolute
    left 0
    display inline-block
    box-sizing border-box
    width  24px
    height 24px
    border-style solid
    color #c1c1c1
    background #fff

    &::before
      content ""
      position absolute
      transition .2s

  &__content
    display block
    padding-top 2px
    padding-bottom 2px
    font-size 15px
    line-height 20px

  &:hover &__icon
    color #b5b5b5

  // &__input:checked + &__icon
  //   color $color-green

  &__input:focus + &__icon
    color $color-text-dark

  &__input:disabled + &__icon
  &__input:disabled ~ &__content
    opacity 0.4


  &_type_checkbox &__icon
    border-width 2px
    border-radius 4px

    &::before
      left   9px
      bottom 10px
      margin auto
      transform rotate(45deg)
      opacity 0
      width  7px
      height 18px
      border-style solid
      border-width 0 3px 3px 0
      border-left-color transparent
      border-top-color transparent
      box-shadow:
        3px 0 #fff,
        1px -3px #fff,
        -3px 0 #fff inset

  &_type_checkbox &__input:checked + &__icon
    &::before
      opacity 1
      bottom 5px

  &_type_radio &__icon
    // border-width 3px
    border-width 2px
    border-radius 50%

    &::before
      top 0
      bottom 0
      left 0
      right 0
      margin auto
      transform scale(0)
      opacity 0
      width  8px
      height 8px
      background currentColor
      border-radius inherit

  &_type_radio &__input:checked + &__icon
    &::before
      transform scale(1)
      opacity 1
