.dot
  visibility visible
  padding 14px 5px
  display inline-block
  vertical-align middle
  border 0
  background 0
  cursor pointer

  &::before
    content ""
    display block
    box-sizing border-box
    width 10px
    height 10px
    border: 5px solid #fff
    border-radius: 50%
    background-color $color-red

  &_active
    pointer-events:none

    &::before
      border-width 2px

  &:hover::before
    border-color #e8e8e8
