.filter-head
  position relative
  margin-bottom 20px
  // padding 0 19px
  height 38px
  line-height 38px
  text-transform uppercase
  border-radius 3px
  background #f7f3ec

  &__label
    padding 0 19px

  &__sort-order
    position absolute
    right 8px
    // margin-left 42px

  &_sticky
    position sticky
    top 0
    z-index 1
