.form
  width 620px
  max-width 100%
  box-shadow 0 -7px $color-red

  &__head
  &__body
  &__foot
    padding-left 80px
    padding-right 80px

  &__head
    padding-top 50px
    padding-bottom 50px
    overflow hidden

  &__icon
    float left
    width 66px
    height 66px

  &__title
    margin 0
    padding 19px 0 17px
    font normal 30px/1 "Cuprum", sans-serif

  &__icon + &__title
    margin-left 96px

  &__body
    padding-top    44px
    padding-bottom 13 px

  &__foot
    padding-top    36px
    padding-bottom 36px
    background #f1f1f1

  // &__btn


