.logo
  display block
  width 220px
  max-width 100%
  text-align center
  padding 11px 0 7px
  line-height 1
  font-size 24px
  text-decoration none
  text-transform uppercase
  font-weight bold
  font-family "Cuprum", sans-serif
  color #fff
  background #ee3643
  box-shadow 0 5px #b52933

  &:hover
    background #ca2c37

  &:active
    background #ba2732
