.logo
  display block
  width 220px
  max-width 100%
  text-align center
  padding 11px 0 7px
  line-height 1
  font-size 24px
  text-decoration none
  text-transform uppercase
  font-weight bold
  font-family "Cuprum", sans-serif
  color #fff
  background $color-red
  box-shadow 0 5px #b52933

  &:hover
    background $color-red-hover

  &:active
    background $color-red-active

  &_big
    font-size 30px
    padding 19px 0 15px
