.modal
  $animTime = 0.4s
  position fixed
  z-index 3
  top 0
  bottom 0
  left 0
  right 0
  opacity 0
  visibility hidden
  overflow auto
  padding 2em 0
  -webkit-overflow-scrolling touch
  text-align center
  transition $animTime

  &__outer
    display table
    width 100%
    height 100%
    border-collapse collapse

  &__inner
    display table-cell
    vertical-align middle

  &__dialog
    position relative
    display inline-block
    vertical-align middle
    transform translateY(-25%)
    text-align left
    background #fff
    box-shadow 0 20px 40px rgba($color-dark, 0.75)
    transition $animTime

  &__close
    position absolute
    z-index 1
    top   0
    right 0
    padding 0
    border 0
    font-size 42px
    width  1em
    height 1em
    background 0
    color $color-red
    cursor pointer

    &::before
    &::after
      content ""
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      margin auto
      height 4px
      width 26px
      background currentColor

    &::before
      transform rotate(45deg)

    &::after
      transform rotate(-45deg)

    &:hover
      color $color-red-hover

    &:active
      color $color-red-active

  &_show
    opacity 1
    visibility visible

  &_show &__dialog
    transform translateY(0)
