.is-new
  position relative
  overflow hidden

  &::after {
    content "new"
    position absolute
    top 42px
    right 0
    transform-origin 50% -42px
    transform translateX(50%) rotate(45deg) translateY(-100%)
    width 82px
    line-height 27px
    text-align center
    color #fff
    background $color-red
  }
