.product-card
  position relative
  box-sizing border-box
  height 318px
  border 1px solid #e5e5e5
  text-align center
  background-color #fff
  transition box-shadow .2s

  &__head
    position relative
    height 170px
    overflow hidden

  &__img
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    max-height 100%

  &__tools
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    padding-top 36px
    opacity 0
    visibility hidden
    background-color #fff
    transition .2s

  &__tools-btn
    margin 7px auto
    display block
    width 135px


  &__title
    margin 10px 20px
    overflow hidden
    height 40px
    line-height 20px
    font-size 18px
    font-weight bold

  &__old-price
    display block
    font-size 17px
    line-height 18px
    color #999
    text-decoration line-through

  &__price-wrapper
    position absolute
    bottom 20px
    left 0
    right 0

  &__price
    margin-right 16px
    position relative
    display inline-block
    position relative
    padding 10px 20px 11px 36px
    font-size 17px
    line-height 1
    color #fff
    background-color $color-red
    border-radius 3px 0 0 3px

    &::before
      content ""
      position absolute
      top 0
      left 100%
      border 19px solid transparent
      border-left-color $color-red

  &:hover
    border-color transparent
    box-shadow 0 10px 25px rgba($color-dark, 0.5)

  &:hover &__tools
    opacity 1
    visibility visible
