/**
 * Форма поиска
 */
.search-form
  $this = selector()
  width 100%
  height 42px

  &__field
    position relative
    display block
    height 100%

  &__icon
    position absolute
    left 18px
    top 0
    bottom 0
    margin auto
    transform translateY(-1px)
    opacity 0.3
    font-size inherit
    transition 0.2s

  &__input
    box-sizing border-box
    height 100%
    width 100%
    padding 0 13px 0 49px
    border 0
    background transparent
    font inherit
    color inherit

    +placeholder()
      opacity 1
      color inherit

    &:hover
      background $color-dark-hover

    &:focus
      background #fff
      color #000
      outline 0

  {$this}__input:hover + {$this}__icon
    opacity 1

  {$this}__input:focus + {$this}__icon
    opacity 1
    color $color-red
