.sort-type
  display inline-block
  vertical-align middle

  &__item
    position relative
    color rgba(#000, 0.3)
    border 0
    border-bottom 1px dotted $color-red
    text-decoration none

    &:hover
      color #000
      border-style solid

    &_active
      color $color-red
      border-color transparent
      pointer-events none

    &:not(:last-child)
      margin-right 65px
