.sort-order
  display inline-block
  vertical-align middle
  font-size 0

  &__item
    display inline-block
    vertical-align middle
    padding 0 10px
    text-decoration none
    color #c6c2bd

    &::before
      content ""
      display inline-block
      vertical-align middle
      border-style solid
      border-width 10px 5px
      border-color currentColor transparent

    &_asc
      &::before
        border-top 0

    &_desc
      &::before
        border-bottom 0

    &:hover
      color #010101

    &_active
      color $color-red
      pointer-events none
