extends /shared/layout

block vars
	-
		user = { name: 'Равшан Джамшутович' };
		// user = null;
		pageTitle = "Каталог";

		var products = [
			{
				isNew: true,
				image: 'assets/img/content/BOSCH-BFG-9000.jpg',
				title: 'Перфоратор BOSCH BFG 2000',
				oldPrice: 32500,
				price: 22500
			},
			{
				image: 'assets/img/content/BOSCH-BFG-3000.jpg',
				title: 'Перфоратор BOSCH BFG 3000',
				oldPrice: 22500,
				price: 15500
			},
			{
				image: 'assets/img/content/BOSCH-BFG-6000.jpg',
				title: 'Перфоратор BOSCH BFG 6000',
				oldPrice: 30500,
				price: 25500
			},
			{
				image: 'assets/img/content/BOSCH-BFG-2000.jpg',
				title: 'Перфоратор BOSCH BFG 2000',
				price: 12500
			},
			{
				isNew: true,
				image: 'assets/img/content/BOSCH-BFG-9000.jpg',
				title: 'Перфоратор BOSCH BFG 2000',
				oldPrice: 32500,
				price: 22500
			},
			{
				image: 'assets/img/content/BOSCH-BFG-3000.jpg',
				title: 'Перфоратор BOSCH BFG 3000',
				oldPrice: 22500,
				price: 15500
			},
			{
				image: 'assets/img/content/BOSCH-BFG-6000.jpg',
				title: 'Перфоратор BOSCH BFG 6000',
				oldPrice: 30500,
				price: 25500
			},
			{
				image: 'assets/img/content/BOSCH-BFG-2000.jpg',
				title: 'Перфоратор BOSCH BFG 2000',
				price: 12500
			},
			{
				isNew: true,
				image: 'assets/img/content/BOSCH-BFG-9000.jpg',
				title: 'Перфоратор BOSCH BFG 2000',
				oldPrice: 32500,
				price: 22500
			},
			{
				image: 'assets/img/content/BOSCH-BFG-3000.jpg',
				title: 'Перфоратор BOSCH BFG 3000',
				oldPrice: 22500,
				price: 15500
			}
		];

block content

	.container

		ul.breadcrumbs
			li.breadcrumbs__item.breadcrumbs__item
				a(href="#404").breadcrumbs__link_home
					+icon("home").breadcrumbs__home-icon
					| На главную
			li.breadcrumbs__item
				a(href="#404").breadcrumbs__link Каталог
			li.breadcrumbs__item
				a(href="#404").breadcrumbs__link Инструмент
			li.breadcrumbs__item
				a(href="#404").breadcrumbs__link Перфораторы


		h1.page-title ПЕРФОРАТОРЫ

		.grid-row
			.grid-cell.grid-cell_3-12
				form(action="" method="GET", name="product-filter", enctype="application/x-www-form-urlencoded").product-filter
					.filter-head
						.filter-head__label Фильтр:

					fieldset.fieldset
						legend.fieldset__title Цена:
						.range-block
							.range-wrapper
								.range
									//- input.range__input(type="number")
									//- input.range__input(type="number")
									.range__fill(style="left: 10%; width: 65%")
									button(type="button", style="left: 10%").range__drag.range__drag_min
									button(type="button", style="left: 75%").range__drag.range__drag_max
							.range-values
								.range-values__cell
									input.range-values__input(type="number", min="0", step="100" value="0", name="price-min")
								.range-values__cell.range-values__cell_divider
								.range-values__cell
									input.range-values__input(type="number" min="0", step="100" value="30000", name="price-max")

					fieldset.fieldset
						legend.fieldset__title ПРОИЗВОДИТЕЛИ:
						ul.control-list
							li.control-list__item
								+control(type="checkbox", name="vendors[]", value="BOSCH") BOSCH
							li.control-list__item
								+control(type="checkbox", name="vendors[]", value="ИНТЕРСКОЛ") ИНТЕРСКОЛ
							li.control-list__item
								+control(type="checkbox", name="vendors[]", value="Makita") Makita
							li.control-list__item
								+control(type="checkbox", name="vendors[]", value="Makita") Makita
							li.control-list__item
								+control(type="checkbox", name="vendors[]", value="Hitachi") Hitachi

					fieldset.fieldset
						legend.fieldset__title ПИТАНИЕ:
						ul.control-list
							li.control-list__item
								+control(type="radio", name="power", value="accum")
									| Аккумуляторные
							li.control-list__item
								+control(type="radio", name="power", value="net")
									| Сетевые

					.product-filter__btn
						button(type="submit").btn.btn_light.btn_full Показать


			.grid-cell.grid-cell_9-12
				.filter-head.filter-head_sticky
					.grid-row
						.grid-cell.grid-cell_4-12
							.filter-head__label Сортировка:
						.grid-cell.grid-cell_8-12
							.sort-type
								a.sort-type__item.sort-type__item_active(href="javascript:void(0)") По цене
								a.sort-type__item(href="javascript:void(0)") По типу
								a.sort-type__item(href="javascript:void(0)") По функционалу
							.sort-order.filter-head__sort-order
								a.sort-order__item.sort-order__item_active.sort-order__item_asc(href="javascript:void(0)", title="По возврастанию")
								a.sort-order__item.sort-order__item_desc(href="javascript:void(0)", title="По убыванию")
				.product-grid
					.grid-row
						each product in products
							.product-grid__cell.grid-cell.grid-cell_4-12
								+productCard(product)

					.paging
						a(href="javascript:void(0)").paging__link.paging__link_prev.paging__link_hide Предыдущая

						a(href="javascript:void(0)").paging__link.paging__link_active 1
						a(href="javascript:void(0)").paging__link 2
						a(href="javascript:void(0)").paging__link 3

						a(href="javascript:void(0)").paging__link.paging__link_next Следующая

	section.product-desc
		.container
			h4.product-desc__title ПАРА СЛОВ О ПЕРФОРАТОРАХ
			p
				| Перфоратор — универсальный строительный инструмент. Предназначен для сверления и долбления отверстий в кирпиче, бетоне и камне.
				br
				| Существуют электромеханические и пневматические перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и отбойного молотка. В ассортиментном ряду есть выбор «трехрежимников»: в одном устройстве будут совмещены отбойный молоток и ударная дрель.

	+modal(id="add-cart-message")
		form.form
			.form__head
				+icon("round-check")(class="form__icon", width="66", height="66")
				h4.form__title Товар добавлен в корзину!
			//- .form__body
			.form__foot
				.grid-row
					.grid-cell.grid-cell_6-12
						a.btn.btn_full(href="javascript:void(0)") Оформить заказ
					.grid-cell.grid-cell_6-12
						button.btn.btn_full.btn_light(type="button") Продолжить покупки
