footer.page-footer
	.page-footer__top
		.container
			.page-footer__inner
				a(href="/").page-footer__logo.logo.logo_big Техномарт

				-
					var footTopMenuItems = [
						{text: 'Компания', link: 'javascript:void(0)'},
						{text: 'Новости', link: 'javascript:void(0)'},
						{text: 'Каталог', link: 'catalog.html'},
						{text: 'Доставка', link: 'javascript:void(0)'},
						{text: 'Контакты', link: 'javascript:void(0)'}
					];
				ul.foot-menu.page-footer__main-menu
					each item in footTopMenuItems
						li.foot-menu__item
							a.foot-menu__link(href=item.link) #{item.text}

			.page-footer__inner
				.page-footer__address
					div г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
					div #[a(href="tel:+78125550555").page-footer__address-link +7 (812) 555-05-55]

				-
					var footBottomMenuItems = [
						{text: 'Материалы', link: 'javascript:void(0)'},
						{text: 'Техника', link: 'javascript:void(0)'},
						{text: 'Инструмент', link: 'javascript:void(0)'},
						{text: 'Спецпредложения', link: 'javascript:void(0)'}
					];
				ul.foot-menu.foot-menu_sub
					each item in footBottomMenuItems
						li.foot-menu__item
							a.foot-menu__link(href=item.link) #{item.text}

	.page-footer__bottom
		.container.page-footer__inner
			.page-footer__copy
				div © 2010–2016 Компания «Техномарт»
				div Все права защищены

			.contacts.page-footer__contacts
				.contact-block
					.contact-block__label Обратная связь:
					a(href="mailto:mail@htmlacademy.ru").contact-block__link mail@htmlacademy.ru
				.contact-block
					.contact-block__label Разработано —
					a(href="https://htmlacademy.ru", target="_blan").contact-block__link htmlacademy.ru

			.page-footer__social
				ul.social-list
					li.social-list__item
						a(href="javascript:void(0)", title="Вконтакте").social-list__link
							+icon("vk").social-list__icon
					li.social-list__item
						a(href="javascript:void(0)", title="Фейсбук").social-list__link
							+icon("facebook").social-list__icon
					li.social-list__item
						a(href="javascript:void(0)", title="Инстаграм").social-list__link
							+icon("instagram").social-list__icon
