include nav

-
	var navItems = [
		{text: "Главная", link: "/index.html"},
		{text: "Компания", link: "javascript:void(0)"},
		{text: "Каталог", link: "catalog.html"},
		{text: "Новости", link: "javascript:void(0)"},
		{text: "Спецпредложения", link: "javascript:void(0)"},
		{text: "Доставка", link: "javascript:void(0)"},
		{text: "Контакты", link: "javascript:void(0)"}
	];

header.header
	.container
		.grid-row
			.grid-cell.grid-cell_4-12.header__cell
				h1.site-name
					span.site-name__text
						| Интернет-магазин #[br]
						| строительных материалов #[br]
						| и инструментов для ремонта

			.grid-cell.grid-cell_4-12.header__cell.header__cell_contacts
				a(href="tel:+78125550555").contacts-phone
					+icon("phone").contacts-phone__icon
					| +7 (812) 555-05-55
				.contacts-address г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8

			.grid-cell.grid-cell_4-12.header__cell
				.user-area
					if user
						a(href="javascript:void(0)", title="Выйти").user-btn.user-btn_user
							+icon("user").user-btn__icon
							span.user-btn__text #{user.name || ''}
							+icon("logout").user-btn__icon

						ul.user-menu
							li.user-menu__item
								a.user-menu__link(href="javascript:void(0)") Мои заказы
							li.user-menu__item
								a.user-menu__link(href="javascript:void(0)") Личный кабинет
					else
						a(href="javascript:void(0)").user-btn
							+icon("login").user-btn__icon
							span.user-btn__text Войти
						a(href="javascript:void(0)").user-btn
							span.user-btn__text Регистрация

		+nav(navItems, pageTitle || "")

