include ../mixins/index

block vars
	-
		var htmlClass;
		var bodyClass;
		var pageTitle = "";
		var user;

doctype html
html(lang="ru", class=htmlClass)
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=960")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="format-detection" content="telephone=no")
		meta(name="format-detection" content="address=no")
		title #{"Техномарт" + (!!pageTitle ? (" | " + pageTitle) : "")}
		block headStyles
			+styles(["assets/css/index.css"])
		block headScripts

	body(class=bodyClass)

		.page
			.page__header
				include top-panel
				include header

			.page__main
				block content

			.page__footer
				include footer

		block bodyStyles
		block bodyScripts
			+script("assets/js/main.js")
