.contact-block
  display inline-block

  &:not(:first-child)
    margin-left 48px

  &__label
    display block

  &__link
    color $color-yellow
    text-decoration none

    &:hover
      text-decoration underline

    &:active
      color $color-red
      text-decoration none
