.foot-menu
  margin 0
  float right
  padding 0
  list-style-type none

  &::after
    content ""
    display table
    clear both

  &__item
    margin-left 58px
    float left

  &__item:first-child
    margin-left 0

  &__link
    display block
    color inherit
    text-decoration none

    &:hover
      text-decoration underline

    &:active
      opacity .5
      text-decoration none

  &_sub
    color $color-yellow
