@require "layout";
@require "top-panel";
@require "header";
@require "nav";
@require "user-area";
@require "user-menu";
@require "foot-menu";
@require "contact-block";
@require "social-list";
@require "footer";
@require "categories";
@require "info-block";
@require "services";
@require "about";
@require "product-filter";
@require "product-desc";
