.info-block

  &__head
    padding 26px 30px
    overflow hidden
    background-color #f7f3ec

  &__title
    margin 0
    display inline-block
    text-transform uppercase
    font normal 30px/38px "Cuprum", sans-serif
    color $color-text-dark

  &__more
    float right
    max-width 253px
    width 100%

  &__body
    padding 20px 0


  &_vendors
    padding-bottom 48px
