.product-desc
  padding 55px 0
  background #f2f6f8

  p
    margin 1em 0
    line-height 24px

  &__title
    margin 0 0 24px
    font normal 30px/1 "Cuprum", snas-serif
    text-transform uppercase
