.product-filter

  &__btn
    position sticky
    bottom 30px
    top 0
    margin-top 50px
    width 140px
    box-shadow:
      0   -20px 20px #fff,
      0    20px 20px #fff,
      20px  0   20px #fff
