section.about
	.container
		.grid-row
			.grid-cell.grid-cell_7-12.about__desc
				h3.about__title КОМПАНИЯ «Техномарт»
				p
					| Настоящий мужской шоппинг начинается здесь! Огромный выбор товаров для ремонта и строительства не оставит равнодушными любителей сэкномить на гастарбайтерах.
				p
					| Мы можем доставить ваш товар в самые отдаленные точки России!
					br
					| Техномарт работает со многими транспортными компаниями:
				ul.list
					li.list__item Деловые линии
					li.list__item Автотрейдинг
					li.list__item ЖелДорЭкспедиция

				a(href="#404").btn.about__more-link Подробнее о компании

			.grid-cell.grid-cell_4-12.about__contacts
				h3.about__title КОНТАКТЫ
				p
					| Вы можете забрать товар сами,
					br
					| заехав в наш офис:

				a(href="https://www.google.ru/maps/place/Большая+Конюшенная+ул.,+19,+Санкт-Петербург,+191186/@59.9389581,30.3204762,17z/data=!4m5!3m4!1s0x4696310fca5ba729:0xea9c53d4493c879f!8m2!3d59.9387942!4d30.3230833?hl=ru", target="_blank").contacts-map
					img.contacts-map__img(src="assets/img/map.jpg", scrset="assets/img/map@2x.jpg 2x" alt="")

				a(href="javascript:void(0)" data-modal=`{ "target": "#contact-form", "action": "open" }`
				).btn.btn_full Заблудились? Напишите нам!

+modal(id="contact-form")
	form.form
		//- .form__head
		.form__body
			.grid-row
				.grid-cell.grid-cell_6-12
					label.field
						span.field__title Ваше имя:
						input.field__control(type="text", placeholder="Представьтесь, пожалуйста")
				.grid-cell.grid-cell_6-12
					label.field
						span.field__title Ваш e-mail:
						input.field__control(type="email", placeholder="Для отправки ответа")
				.grid-cell.grid-cell_12-12
					label.field
						span.field__title Текст письма:
						textarea.field__control.field__control_multiline(placeholder="В свободной форме", style="height: 114px")
		.form__foot
			.grid-row
				.grid-cell.grid-cell_12-12
					button.btn.btn_full(type="button") Отправить

+modal(id="contact-map-modal")
	.container
		.map
			.map__content(id="contact-map")
			.map__loading Загрузка карты. Подождите...
