.categories
	.categories__inner

		.categories__item
			.category.category_materials.is-new
				.category__title Материалы
				a(href="javascript:void(0)").category__link на любой вкус

		.categories__item
			.category.category_equip
				.category__title Инструмент
				a(href="javascript:void(0)").category__link на все случаи

		.categories__item
			.category.category_tech
				.category__title Техника
				a(href="javascript:void(0)").category__link для стройки

		.categories__item.categories__item_big
			include slider

		.categories__item
			.category.category_discont
				.category__title Скидки 50%
				a(href="javascript:void(0)").category__link на 350 товаров

		.categories__item
			.category.category_delivery
				.category__title Доставка
				a(href="javascript:void(0)").category__link бесплатно
