-
	var popularProducts = [
		{
			isNew: true,
			image: 'assets/img/content/BOSCH-BFG-9000.jpg',
			title: 'Перфоратор BOSCH BFG 2000',
			oldPrice: 32500,
			price: 22500
		},
		{
			image: 'assets/img/content/BOSCH-BFG-3000.jpg',
			title: 'Перфоратор BOSCH BFG 3000',
			oldPrice: 22500,
			price: 15500
		},
		{
			image: 'assets/img/content/BOSCH-BFG-6000.jpg',
			title: 'Перфоратор BOSCH BFG 6000',
			oldPrice: 30500,
			price: 25500
		},
		{
			image: 'assets/img/content/BOSCH-BFG-2000.jpg',
			title: 'Перфоратор BOSCH BFG 2000',
			price: 12500
		}
	];

section.info-block

	header.info-block__head
		h2.info-block__title Популярные товары:
		a(href="catalog.html").btn.info-block__more все попуряные товары

	.info-block__body
		.grid-row

			each product in popularProducts
				.grid-cell.grid-cell_3-12
					+productCard(product)

+modal(id="add-cart-message")
	form.form
		.form__head
			+icon("round-check")(class="form__icon", width="66", height="66")
			h4.form__title Товар добавлен в корзину!
		//- .form__body
		.form__foot
			.grid-row
				.grid-cell.grid-cell_6-12
					a.btn.btn_full(href="javascript:void(0)") Оформить заказ
				.grid-cell.grid-cell_6-12
					button.btn.btn_full.btn_light(type="button") Продолжить покупки

