section.info-block.info-block_vendors

	header.info-block__head
		h2.info-block__title Популярные производители:
		a(href="javascript:void(0)").btn.info-block__more все производители

	.info-block__body
		.grid-row
			.grid-cell.grid-cell_3-12
				a(href="javascript:void(0)").vendor
					img.vendor__img(src="assets/img/content/vendors/bosch.png", alt="")

			.grid-cell.grid-cell_3-12
				a(href="javascript:void(0)").vendor
					img.vendor__img(src="assets/img/content/vendors/Makita.png", alt="")

			.grid-cell.grid-cell_3-12
				a(href="javascript:void(0)").vendor
					img.vendor__img(src="assets/img/content/vendors/DeWalt.png", alt="")

			.grid-cell.grid-cell_3-12
				a(href="javascript:void(0)").vendor
					img.vendor__img(src="assets/img/content/vendors/Интерскол.png", alt="")

			.grid-cell.grid-cell_3-12
				a(href="javascript:void(0)").vendor
					img.vendor__img(src="assets/img/content/vendors/Hitachi.png", alt="")

			.grid-cell.grid-cell_3-12
				a(href="javascript:void(0)").vendor
					img.vendor__img(src="assets/img/content/vendors/LG.png", alt="")

			.grid-cell.grid-cell_3-12
				a(href="javascript:void(0)").vendor
					img.vendor__img(src="assets/img/content/vendors/AEG.png", alt="")

			.grid-cell.grid-cell_3-12
				a(href="javascript:void(0)").vendor
					img.vendor__img(src="assets/img/content/vendors/Metabo.png", alt="")
