// colors

$color-text-dark = #32425c
$color-text-gray = #b7bfc8
$color-text-light = #c5c5c5

$color-dark = #293449
$color-dark-hover = #212a3a
$color-dark-active = #161d29
$color-dark-deep = #1d2739

$color-red = #ee3643
$color-red-hover = #ca2c37
$color-red-active = #ba2732

$color-green = #63a63e
$color-green-hover = #5fbb2d
$color-green-active = #518534

$color-yellow = #ffd180
