webfont("Cuprum", "cuprum/cuprum", normal, normal)
webfont("Cuprum", "cuprum/cuprumitalic", normal, italic)
webfont("Cuprum", "cuprum/cuprumbold", bold, normal)
webfont("Cuprum", "cuprum/cuprumbolditalic", bold, italic)

webfont("PT Sans", "ptsans/ptsans", normal, normal)
webfont("PT Sans", "ptsans/ptsansbold", bold, normal)

:root
  font 13px "PT Sans", sans-serif
